/* stylelint-disable */
body {
  min-width: 320px;
  font-size: 18px;
  color: #012760;
  line-height: 1.555;
  background: #eff6fa;

  @include media-breakpoint-down(md) {
    font-size: 16px;
    line-height: 20px;
  }
  
}

/** @define anchor **/
a {
  transition: color 0.4s ease, background 0.4s ease, visibility 0.4s ease, opacity 0.4s ease;
  outline: none;
  color: $blue;
  text-decoration: none;

  &:hover,
  &:active {
    color: $light-blue;
  }
}

.img {
  @include img-style;
}

.btn-primary {
  @include fontsize(18px, 40px);
  min-width: 210px;
  height: 40px;
  font-weight: 700;
  position: relative;
  background: #2c49dc;
  padding: 0 5px;
  text-align: center;
  border: none;
  color: #fff;
  border-radius: 9px;
  box-shadow: none;

  &:hover,
  &:focus {
    background: $blue;
    border-color: $blue;
    color: #fff;
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-secondary {
  @include fontsize(18px, 40px);
  min-width: 210px;
  height: 40px;
  font-weight: 700;
  position: relative;
  background: #f4f7f8;
  padding: 0 5px;
  text-align: center;
  border: none;
  color: #2c49dc;
  border-radius: 9px;
  box-shadow: none;

  &:hover,
  &:focus {
    background: #2c49dc;
    border-color: #2c49dc;
    color: #fff;
    outline: none !important;
    box-shadow: none !important;
  }
}

.mobile-hidden {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.desktop-hidden {
  @media (min-width: 768px) {
    display: none !important;
  }
}

.h1, h1 {
  line-height: 1;
  letter-spacing: 1.4px;
  position: relative;

  @media (max-width: 1199.99px) {
    font-size: 40px;
    line-height: 44px;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.5px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
    line-height: 34px;
  }

  /*&:before {
    @media (max-width: 1359px) {
      position: absolute;
      left: -87px;
      top: -9px;
      content: '';
      border-radius: 100%;
      background: #3254fe;
      width: 30px;
      height: 30px;
      z-index: 1;
    }
  }*/
}

.h2, h2 {
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 500;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
    line-height: 26px;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  &:before {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    right: 0;
    content: '';
    background: rgba($blue, 0.85);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    .menu-active & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.menu-active {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main {
  position: relative;
}

.container {
  @include media-breakpoint-down(lg) {
    max-width: 100%;
  }
}

.visual-area {
  position: relative;

  &.style01 {
    .container {
      padding-top: 57px;
      padding-bottom: 176px;

      @media (max-width: 1359.99px) {
        padding-bottom: 150px;
      }

      @media (max-width: 991.99px) {
        padding-top: 0;
        padding-bottom: 50px;
      }
    }

    .image {
      position: relative;
      margin-left: -86px;

      @media (max-width: 1440px) {
        margin: 0;
      }

      @media (max-width: 991.98px) {
          margin: 0 -15px;
        }

      img {
        margin: 0;
        float: none;

        @media (max-width: 1440px) {
          max-width: 100%;
          height: auto;
        }

        @media (max-width: 991.98px) {
          margin: 0;
          position: static;
          width: 100%;
        }
      }

      a {
        display: block;
      }
    }

    .description {
      max-width: 510px;
      padding-bottom: 0;
      padding-top: 70px;

      @media (max-width: 991.98px) {
        padding-top: 50px;
        max-width: 100%;
      }  
    }

    .graph-line {
      top: 92px;

      &:before {
        position: absolute;
        left: -8px;
        top: -29px;
        content: '';
        border-radius: 100%;
        background: #3254fe;
        width: 60px;
        height: 60px;
        z-index: 1;
      }
    }

    .btn-play {
      @include media-breakpoint-up(md) {
        width: 128px;
        height: 128px;
        margin-left: -13px;

        &:before {
          border-width: 34px 0 34px 58px;
        }
      }
    }
  }

  .container {
    position: relative;
    padding-bottom: 63px;

    @media (max-width: 1359.99px) {
      padding-bottom: 50px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }

    &:before {
      position: absolute;
      left: 80.2%;
      top: -148px;
      bottom: 0;
      right: -9999px;
      content: '';
      background: #dee9f5;

      @media (max-width: 1439px) {
        left: 79%;
      }

      @media (max-width: 1339px) {
        display: none;
      }
    }
  }

  .description {
    padding-left: 120px;
    position: relative;
    padding-bottom: 80px;
    letter-spacing: 1.2px;

    @media (max-width: 1359px) {
      padding-left: 30px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  h1 {
    position: relative;

    @media (max-width: 1470px) {
      letter-spacing: 0;
    }

    @media (max-width: 1359px) {
      font-size: 40px;
      line-height: 44px;
    }

    @media (max-width: 1199px) {
      font-size: 30px;
      line-height: 34px;
    }

    span {
      color: #2c49dc;
    }
  }

  .image {
    img {
      float: left;
      margin-left: -263px;

      @media (max-width: 1409px) {
        margin-left: -290px;
      }

      @media (max-width: 1339px) {
        width: 200%;
        margin-left: -370px;
      }

      @media (max-width: 1199px) {
        margin-left: -276px;
      }

      @include media-breakpoint-down(md) {
        float: none;
        margin: 0;
        width: 1000px;
        position: relative;
        left: 50%;
        margin-left: -490px;
        height: auto;
      }

      @include media-breakpoint-down(sm) {
        width: 500px;
        margin-left: -250px;
      }
    }
  }

  .col-lg-6 {
    order: 1;

    &:first-child {
      @include media-breakpoint-down(md) {
        order: 2;
      }
    }
  }

  .pulsating-circle {
    &.add {
      top: auto;
      right: 31px;
      bottom: 20px;
      left: auto;
    }
  }

  .pulsating-circle {
    top: -8px;
    left: 2px;
  }
}

.graph-line {
  position: absolute;
  left: 22px;
  top: 19px;
  pointer-events: none;

  @media (max-width: 1359px) {
    display: none;
  }

  &:before {
    position: absolute;
    left: -8px;
    top: -27px;
    content: '';
    border-radius: 100%;
    background: #3254fe;
    width: 60px;
    height: 60px;
    z-index: 1;
  }

  img {
    display: block;

    @media (max-width: 1339px) {
      width: 90%;
    }
  }
}

.text-section {
  background: #2c49dc;
  color: #fff;
  text-align: center;
  padding: 210px 0 180px;
  letter-spacing: -0.1px;

  @media (max-width: 1359.99px) {
    padding: 130px 0 110px;
  }

  @media (max-width: 1199px) {
    padding: 100px 0;
  }

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  &.style01 {
    padding: 135px 0 101px;

    @media (max-width: 1339px) {
      padding: 70px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 40px 0;
    }

    .h1 {
      &:before {
        top: -94px;
      }
    }

    p {
      @media (max-width: 1339px) {
        padding: 0 12%;
      }

      @media (max-width: 479px) {
        padding: 0 4%;
      }
    }
  }

  p {
    padding: 0 50px;

    @media (max-width: 1199px) {
      padding: 0;
    }
  }

  .h1 {
    position: relative;
    margin: 0 0 30px;
  }
}

.features-area {
  padding: 217px 0;

  @media (max-width: 1359.99px) {
    padding: 100px 0;
  }

  @media (max-width: 1199px) {
    padding: 70px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 50px 0 22px;
  }

  .holder {
    position: relative;
    padding: 0 0 0 120px;

    @media (max-width: 1359.99px) {
      padding: 0 0 0 50px;
    }

    @media (max-width: 1199.99px) {
      padding: 0;
    }
  }

  .graph-line {
    top: -350px;

    &.style01 {
      top: 23px;
    }
  }

  .pulsating-circle {
    &.add {
      left: auto;
      right: 41px;
      bottom: 20px;
    }
  }

  .h1 {
    line-height: 55px;
    margin: 0 0 90px;
    position: relative;

    @include media-breakpoint-down(md) {
      line-height: 38px;
      margin: 0 0 30px;
    }

    br {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .col-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -45px 0 -14px;

    @media (max-width: 1199px) {
      margin: 0 -20px;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }

    h2 {
      margin-bottom: 21px;
    }

  }

  .col-area {
    width: 29%;
    padding: 0 45px;

    @media (max-width: 1199px) {
      padding: 0 20px;
    }

    @include media-breakpoint-down(sm) {
      width: 100% !important;
      margin-bottom: 25px;
    }


    &:last-child {
      width: 40%;
    }
  }

  .ico-holder {
    margin: 0 0 25px;
  }

  .h2 {
    margin: 0 0 23px;

    @media (max-width: 1199px) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;

    }

  }
}

.video-section {
  padding: 205px 0 190px;

  @media (max-width: 1359.99px) {
    padding: 170px 0 130px;
  }

  @media (max-width: 1199px) {
    padding: 100px 0 50px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  .description {
    margin-left: -18px;
    margin-right: -30px;
    padding: 17px 0 0;

    @media (max-width: 1439px) {
      margin-right: -60px;
    }

    @media (max-width: 1199px) {
      margin: 0;
    }

    @include media-breakpoint-down(md) {
      padding: 30px 50px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 10px 0 0;
    }
  }

  .h1 {
    position: relative;
    margin: 0 0 17px;
  }

  .video-box {
    max-width: 547px;
    margin: 0 auto;
    box-shadow: 14px 19px 20px rgba(0,0,0, 0.15);
    position: relative;
    left: -15px;

    @media (max-width: 1470px) {
      left: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }

    img {
      @include img-style;
    }
  }
}

.btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 93px;
  height: 93px;
  border-radius: 100%;
  background: #546ae9;

  &:before {
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(-50% , -50%);
    border-style: solid;
    border-width: 25px 0 25px 43px;
    border-color: transparent transparent transparent #fff;
    content: '';

  }
}

.topics-area {
  padding: 185px 0 287px;

  @media (max-width: 1359.99px) {
    padding: 100px 0 70px;
  }

  @media (max-width: 1199px) {
    padding: 100px 0 50px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 0 50px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }

  .holder {
    padding: 0 86px;

    @media (max-width: 1199px) {
      padding: 0;
    }
  }

  .head {
    max-width: 787px;
    margin: 0 auto 65px;
    text-align: center;
    position: relative;
  }

  .h1 {
    position: relative;
    letter-spacing: 1px;
    margin: 0 0 23px;
  }

  .graph-line {
    left: 50.6%;
    top: -395px;
  }

  .pulsating-circle {
    bottom: 20px;
    left: -18px;
  }
}

.topics-blocks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;

  @media (max-width: 1199px) {
    margin: 0 -20px;
  }

  @include media-breakpoint-down(md) {
    margin: 0 -10px;
  }

  @include media-breakpoint-down(sm) {
    display: block;
  }

  .topic-block {
    padding: 0 50px;
    text-align: center;
    width: 33.333%;
    margin: 0 0 59px;

    @media (max-width: 1199px) {
      padding: 0 20px;
    }

    @include media-breakpoint-down(md) {
      padding: 0 10px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  p {
    margin: 0;
  }

  .ico-holder {
    margin: 0 0 30px;
  }

  h2 {
    margin: 0 0 20px;

    @media (max-width: 1199px) {
      font-size: 22px;
    }

    @include media-breakpoint-down(md) {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
}

.specifications-area {
  position: relative;
  padding: 0 0 385px;

  @media (max-width: 1359.99px) {
    padding: 0 0 150px;
  }

  @media (max-width: 1199px) {
    padding: 0 0 100px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 0 50px;
  }

  .container {
    position: relative;
  }

  .graph-line {
    top: -307px;
    left: 54px;
  }

  .pulsating-circle {
    bottom: 20px;
    left: -11px;

    &.big-circle {
      left: auto;
      right: -230px;
      bottom: -280px;

      .circle {
        width: 300px;
        height: 300px;
      }

      &.add {
        bottom: auto;
        top: 150px;
        right: -80px;
      }
    }
  }

  .h1 {
    font-size: 35px;
    line-height: 41px;
    padding-top: 74px;

    @include media-breakpoint-down(md) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  .column-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
  }

  .column-wrap {
    background: #fff;
  }

  .column {
    position: relative;
    width: 33.433%;
    padding: 0 7px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }


    .head {
      display: flex;
      flex-wrap: wrap;
      min-height: 240px;
      align-items: center;
      justify-content: center;
      padding: 15px 25px;
      background: #3252e0;

    }

    .image {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &.column-head {
      width: 29%;

      @include media-breakpoint-down(sm) {
        display: none;
      }


      .column-wrap {
        background: #3252e0;
        color: #fff;
      }
    }

    &.add {
      width: 37.4%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .data-title {
      font-size: 18px;
      line-height: 28px;
      padding: 5px 10px 5px 25px;
      font-weight: 700;
      display: block;

      @media (max-width: 1199px) {
        font-size: 14px;
      }

      @include media-breakpoint-down(md) {
        font-size: 11px;
      }

      &:nth-child(odd) {
        background: #3c5ae1;
      }

      &:last-child {
        padding-bottom: 15px;
      }
    }

    .data-description {
      font-size: 16px;
      line-height: 28px;
      padding: 5px 10px;
      display: block;
      text-align: center;
      letter-spacing: 0.7px;

      @media (max-width: 1199px) {
        font-size: 14px;
      }

      @include media-breakpoint-down(md) {
        font-size: 11px;
        letter-spacing: 0;
      }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 40px;
        padding: 0;
      }

      &:before {
        @include media-breakpoint-down(sm) {
          position: relative;
          width: 100%;
          background: $blue;
          color: #fff;
          text-align: center;
          font-size: 16px;
          line-height: 40px;
          padding: 0;
          display: block;
          content:attr(data-title);
        }
      }

      &:nth-child(odd) {
        background: #f5f7ff;
      }
      &:last-child {
        padding-bottom: 15px;
      }
    }
  }
}

.specifications-table {
  max-width: 1090px;
  margin: 0 auto;
  position: relative;
  left: -10px;

  @media (max-width: 1470px) {
    left: 0;
  }
}

.video-section2 {
  padding: 0 0 272px;

  @media (max-width: 1359.99px) {
    padding: 0 0 150px;
  }

  @media (max-width: 1199px) {
    padding: 0 0 100px;
  }

  @include media-breakpoint-down(md) {
    padding: 0 0 40px;
  }

  .col-lg-7 {
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }

  .col-lg-5 {
    @include media-breakpoint-down(md) {
      order: 1;
    }
  }

  .description {
    max-width: 570px;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    letter-spacing: 0.4px;

    @include media-breakpoint-down(md) {
      margin: 0;
      padding: 30px 0 0;
    }
  }

  .graph-line {
    top: -387px;
    left: -97px;

    &.add {
      top: 49px;
    }
  }

  .pulsating-circle {
    left: 1px;
    bottom: 20px;

    &.add {
      left: auto;
      right: 22px;
    }
  }

  .h1 {
    position: relative;
    margin: 0 0 16px;
  }

  p {
    margin: 0 0 42px;
  }

  .video-box {
    box-shadow: 14px 19px 20px rgba(0,0,0, 0.15);
    position: relative;

    img {
      @include img-style;
    }
  }
}

.text-section2 {
  background: #2c49dc;
  padding: 175px 0 30px;
  text-align: center;
  color: #fff;

  @media (max-width: 1359.99px) {
    padding: 100px 0 30px;
  }

  @media (max-width: 1199px) {
    padding: 60px 0 30px;
  }

  .btn-secondary {
    margin: 0 auto 110px;

    @media (max-width: 1199px) {
      margin-bottom: 40px;
    }

    &:hover,
    &:active {
      background: #ccc;
      color: $light-blue;
    }
  }

  .h1 {
    position: relative;
    margin: 0 0 25px;
  }

  p {
    margin: 0 0 40px;
  }

  .text {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    max-width: 685px;
    margin: 0 auto;
  }
}

.about-area {
  padding: 295px 0 132px;
  position: relative;
  overflow: hidden;

  @media (max-width: 1359.99px) {
    padding: 200px 0 130px;
  }

  @media (max-width: 1199px) {
    padding: 100px 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 60px 0 50px;
  }

  .col-lg-5 {
    @include media-breakpoint-down(md) {
      order: 1;
    }
  }

  .col-lg-6 {
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }

  .pulsating-circle {
    z-index: 5;
    left: -7px;
    bottom: 13px;

    &.add {
      left: 65px;
    }

    &.big-circle {
        top: 300;
        bottom: auto;
        left: auto;
        right: 190px;

        .circle {
          width: 800px;
          height: 800px;
        }
    }
  }

  .description {
    max-width: 488px;
    margin: 0 auto;
    position: relative;
    padding: 0 0 22px;
    left: -11px;

    @media (max-width: 1470px) {
      left: 0;
    }

    @include media-breakpoint-down(md) {
      padding-top: 70px;
    }

    .h1 {
      position: relative;
      margin: 0 0 30px;

      @include media-breakpoint-down(md) {
        margin: 0 0 20px;
      }
    }

    .graph-line {
      top: -387px;
      left: -67px;

      &.add {
        top: 21px;
        left: -56px;
        z-index: 3;
      }
    }

    p {
        margin: 0 0 40px;
      }
  }

  .mob-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;

    @include media-breakpoint-down(md) {
      justify-content: center;
      padding-left: 80px;
      padding-bottom: 70px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }
  }

  .image {
    position: relative;
    margin: 0 74px 0 0;

    @media (max-width: 1199px) {
      margin: 0 -50px 0 0;
    }

    @include media-breakpoint-down(md) {
      margin: 0;
    }

    &:before {
      position: absolute;
      left: 50%;
      bottom: -37px;
      z-index: -1;
      content: '';
      background: url('../../img/shadow-iphone.png');
      height: 67px;
      width: 486px;
      margin-left: -243px;
    }
  }

  .card-image {
    position: absolute;
    right: 241px;
    bottom: -17px;
    width: 345px;

    @media (max-width: 1199px) {
      right: 100px;
    }

    @include media-breakpoint-down(md) {
      right: 290px;
    }

    @include media-breakpoint-down(sm) {
      right: 50%;
      margin-right: -145px;
      bottom: -40px;
      width: 290px;
    }

    img {
      @include img-style;
    }
  }
}

.faq-area {
  position: relative;
  margin: 166px 30px 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 5px 15px 30px rgba(0,0,0, 0.1);

  @include media-breakpoint-down(md) {
    margin: 30px 0 0;
  }

  .h1 {
    position: relative;
    margin: 0 0 16px;

    @media (max-width: 1199px) {
      font-size: 30px;
      line-height: 38px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .text-area {
    background: $light-blue;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 30px 116px 0 64px;

    @media (max-width: 1439px) {
      padding-right: 70px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      padding: 40px;
    }

    @include media-breakpoint-down(sm) {
      padding: 18px;
    }
  }

  .form-area {
    background: #f4f7f8;
    width: 50%;
    padding: 55px 45px 44px;

    @media (max-width: 1199px) {
      padding: 30px 15px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    img {
      @include img-style;
    }
  }
}

.app-btn-holder {
  display: flex;
  flex-wrap: wrap;

  a {
    margin-right: 22px;

    @include media-breakpoint-down(sm) {
      margin-right: 5px;
    }

    &:hover {
      img {
        opacity: 0.75;
      }
    }
  }

  img {
    transition: all 0.4s ease;
  }
}

.features-area2 {
  padding: 110px 0 375px;

  @include media-breakpoint-down(md) {
    padding: 50px 0 80px;
  }

  .description {
    position: relative;
    padding: 0 21px 32px 120px;
    letter-spacing: 0.4px;

    @include media-breakpoint-down(md) {
      padding: 30px 0 0;
    }

    .h1 {
      position: relative;
      margin-bottom: 20px;
    }
  }

  .col-lg-7 {
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }

  .col-lg-5 {
    @include media-breakpoint-down(md) {
      order: 1;
    }
  }

  .image {
    img {
      float: left;
      margin-left: 17px;

      @include media-breakpoint-down(md) {
        float: none;
        max-width: 100%;
        height: auto;
        margin: 0;
      }
    }
  }

  .graph-line {
    top: -333px;
    left: 24px;

    &.add {
      top: -38px;
    }
  }

  .pulsating-circle {
    bottom: 20px;

    &.add {
      left: auto;
      right: 40px;
    }
  }
}

.info-section {
  position: relative;
  padding: 0 0 20px;
  text-align: center;
  letter-spacing: 0.2px;

  .h1 {
    margin: 0 0 26px;
  }

  p {
    padding: 0 18px;
  }

  .ico-holder {
    position: relative;
    width: 150px;
    margin: 0 auto 24px;

    &:before {
      position: absolute;
      right: 158px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 1765px;
      height: 1759px;
      background: url('../../img/bg-shape1.jpg') no-repeat;
      z-index: -1;
      margin-top: 30px;
    }

    &:after {
      position: absolute;
      left: 158px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 1765px;
      height: 1759px;
      background: url('../../img/bg-shape2.jpg') no-repeat;
      z-index: -1;
      margin-top: -34px;
    }
  }
}

.info-section2 {
  padding: 227px 0 218px;

  @media (max-width: 1359px) {
    padding: 120px 0 50px;
  }

  @include media-breakpoint-down(md) {
    padding: 60px 0 30px;
  }

  .image {
    max-width: 550px;
    position: relative;
    margin: 0 auto;

    &:before {
      position: absolute;
      left: 50%;
      bottom: -15px;
      content: '';
      background: url('../../img/shadow-image.png') no-repeat;
      width: 751px;
      height: 57px;
      margin-left: -375px; 
    }

    img {
      @include img-style;
    }
  }

  .h1 {
    position: relative;
    margin: 0 0 23px;
  }

  .graph-line {
    top: -304px;
    left: 101px;
  }

  .pulsating-circle {
    left: auto;
    right: 21px;
    bottom: 20px;
  }

  .description {
    position: relative;
    padding: 69px 0 0 105px;
    margin-right: -26px;
    letter-spacing: 0.4px;

    @media (max-width: 1359px) {
      margin-right: 0;
    }

    @include media-breakpoint-down(md) {
      padding: 30px 0 0;
    }
  }
}

.image-text-section {
  position: relative;
  background: #2c49dc;
  color: #fff;

  .graph-line {
    top: -314px;
    left: 128px;
  }

  .pulsating-circle {
    left: -11px;
    bottom: 12px;
  }

  @include media-breakpoint-down(md) {
    .col-lg-6 {
      order: 1;

      &:first-child {
        order: 2;
      }
    }
  }

  .description {
    padding: 112px 0 0 90px;
    margin: 0 -27px 0 0;
    letter-spacing: 0.4px;

    @include media-breakpoint-down(md) {
      margin: 0;
      padding: 40px 0 30px;
    }
  }

  .image {
    margin: 0 0 0 22px;

    @include media-breakpoint-down(md) {
      margin: 0 -60px;
    }

    img {
      @include media-breakpoint-down(md) {
        width: 100%;
        height: auto;
      }
    }
  }

  .h1 {
      position: relative;
      margin: 0 0 12px;
    }
}

.visual-area2 {
  position: relative;
  padding: 63px 0 461px;

  @media (max-width: 1365px) {
    padding-bottom: 110px;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .description {
    padding: 137px 0 0 118px;
    position: relative;
    max-width: 492px;

    @media (max-width: 1440px) {
      padding-left: 70px;
    }

    @media (max-width: 1365px) {
      padding-left: 50px;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding: 30px 0 0;
    }
  }

  h1 {
    position: relative;
  }

  .graph-line {
    top: 158px;
    left: 22px;
  }

  .pulsating-circle {
    bottom: auto;
    top: -10px;
    left: 3px;

    &.add {
      left: auto;
      right: 30px;
      top: auto;
      bottom: 30px;
    }
  }

  .col-lg-7 {
    @include media-breakpoint-down(md) {
      order: 1;
    }
  }

  .col-lg-5 {
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }

  .image {
    img {
      float: right;
      margin-right: 28px;

      @media (max-width: 1439px) {
        float: none;
        margin: 0;
        max-width: 100%;
        height: auto;
      }

      @include media-breakpoint-down(md) {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.specifications-area {

  .h1 {
    &:before {
      display: none;
    }
  }

  &.style02 {
    padding-bottom: 102px;
    position: relative;

    &:before {
      top: -490px;
      width: 680px;
      height: 680px;
    }
  }
}

.products-area {
  background: #2c49dc;
  padding: 84px 0 96px;

  @include media-breakpoint-down(md) {
    padding: 50px 0 25px;
  }

  .container {
    position: relative;
  }


  .holder {
    max-width: 1170px;
    padding: 109px 66px 34px;
    border-radius: 18px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      padding: 55px 40px;
    }

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 30px 15px;
    }
  }

  .form-section {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 0 0 30px;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  .graph-line {
    left: 50%;
    top: -140px;
  }

  .pulsating-circle {
    bottom: 30px;
    left: -15px;

    &.big-circle {
      z-index: 6;
      left: -50px;
      bottom: -290px;
    }
  }
}

.prod-info {
  width: 305px;
  position: relative;

  @include media-breakpoint-down(md) {
    width: 290px;
  }

  &:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    width: 2px;
    background: #dce2ea;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: #012760;
    margin: 0 0 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }


  .prod-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 23px;
  }

  .image {
    width: 50%;
    background: #f5f6ff;
    min-height: 115px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



    img {
      display: block;
      max-width: 100%;
    }
  }

  .prod-card-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: #012760;

    .text {
      display: block;
      margin-right: 9px;

      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }

  .smart-card {
    margin-top: 38px;
  }

  .description {
    width: 50%;
    padding: 0 0 10px 8px;

    .name {
      display: block;
      margin: 0 0 5px;
      color: #012760;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
    }

    input[type=text] {
      width: 45px;
      height: 40px;
      border-radius: 7px;
      outline: none;
      background: #f5f6ff;
      border: none;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 5px;
      color: #012760;
      margin-right: 12px;
    }
  }

  .prod-summary {
    padding: 65px 26px 0 0;
    font-weight: 500;
    color: #012760;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    letter-spacing: 0.6px;

    @include media-breakpoint-down(md) {
      padding-right: 10px;
    }

    li {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 0 12px;

      &.total-row {
        font-weight: 900;
        font-size: 20px;
        padding-top: 7px;
      }
    }
  }
}

.form-section {
  p {
    margin: 0 0 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    padding-right: 54px;

    @include media-breakpoint-down(md) {
      padding-right: 0;
    }
  }

  .form-holder {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.content-area {
  padding: 88px 0 167px;

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  .container {
    max-width: 1050px;
  }

  h1 {
    color: #2c49dc;
    margin: 0 0 42px;
    text-align: center;
  }

  .featurs-image {
    margin: 0 0 62px;

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .holder {
    padding: 0 89px;

    @include media-breakpoint-down(md) {
      padding: 0 0 30px;
    }
  }

  p {
    margin: 0 0 60px;

    @include media-breakpoint-down(md) {
      margin: 0 0 30px;
    }
  }

  .image-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;

    .image {
      padding: 0 14px;
      width: 33.333%;

      @include media-breakpoint-down(sm) {
        width: 50%;
        margin-bottom: 30px;
      }

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.gfield {
  margin: 0 0 30px;
  padding: 0;
}

.gfield_radio {
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .gchoice {
    width: 50%;
    margin-bottom: 0;
  }              
}

.gform_fields {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-left: -36px !important;
  grid-row-gap: 0 !important;
  grid-column-gap: 0 !important;
  width: auto !important;
  align-items: center;

  @media (max-width: 1199px) {
    margin: 0 -10px !important;
  }

  .gfield {
    margin: 0 0 30px 36px;
    padding: 0;
    width: calc(50% - 36px);

    @media (max-width: 1199px) {
      width: 50%;
      margin: 0 0 20px;
      padding: 0 10px;
    }

    @media (max-width: 767px) {
      width: 100%;
      margin: 0 0 20px;
      padding: 0 10px;
    }
  }

  #field_1_11,
  #field_1_12 {
    width: 100%;
  }

  #field_1_11 {
    margin-left: 36px;
    margin-bottom: 30px;
    padding-left: 18px;
    margin-top: 0;
    font-weight: 400;

    @media (max-width: 1199px) {
      margin-left: 20px;
      padding-left: 8px;
    }
  }

  #field_1_7,
  #field_1_8 {
    width: calc(25% - 36px);

    @media (max-width: 1199px) {
      width: 50%;
    }
  }

  input[type=text] {
    width: 100% !important;
    height: 40px;
    background: #eaeff8;
    border-radius: 7px;
    border: none;
    box-shadow: none;
    outline: none;
    color: $blue;
    font-size: 14px !important;
    line-height: 20px !important;
    padding: 10px 19px !important;
  }
}

.gform_button {
  width: 150px;
  height: 46px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background: $light-blue;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 46px;
  font-weight: 700;
  display: block;
  transition: all 0.4s ease;

  &:hover {
    background: $blue;
  }
}

.gfield_label {
  display: none !important;
}

#field_1_11 .gfield_label {
  font-size: 14px;
  line-height: 20px;
  display: block !important;
  margin: 0 0 3px;
}

.gfield_radio [type="radio"] {
  position:fixed;
  left:0;
  top:0;
  opacity:0;
  z-index: -1;
}

.gfield_radio label {
  display: block;
  position: relative;
  padding-left: 19px !important;
  cursor: pointer;
  font-size: 14px !important;
  margin: 0 !important;
  line-height: 16px !important;
}

.gfield_radio [type="radio"] + label:before {
  position: absolute;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 2;
  background: #eaeff8;
  content: '';
  top: 5px;
}
.gfield_radio [type="radio"]:checked + label:before {
  background: $blue;
}
.gform_footer {
  padding: 0 !important;
  margin: 0 !important;
}



.pulsating-circle {
  position: absolute;
  z-index: 3;

  @media (max-width: 1199px) {
    display: none !important;
  }

  &:before {
    position: absolute;
    left: 20px;
    border-radius: 50%;
    z-index: 5;
    top: 20px;
    transform: translate(-50% , -50%);
    content: '';
    background-color: $light-blue;
    width: 20px;
    height: 20px;
  }

  &.bg-white {
    &:before {
      background-color: $white
    }
    .circle {
      background-color: $white;
    }
  }

  &.big-circle {
      z-index: -1;

    &:before {
      display: none;
    }
    .circle {
      background-color: #c1d6fb;
      width: 400px;
      height: 400px;
      top: -450px;
      left: -220px;
    }
  }
}

.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $light-blue;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36,.11,.89, .32);
  z-index: 4;
}

@keyframes scaleIn {
  0% {
    transform: scale(.5 , .5);
    opacity: 0.5;
  }

  to {
    transform: scale(2.5 , 2.5);
    opacity: 0;
  }
} 

.graph-line {
  &:before,
  &:after {
    display: none !important;
  }
}

.gform_validation_errors {
  display: none !important;
}

.gfield_validation_message {
  padding: 0 !important;
  border: none !important;
  font-size: 12px !important;
  line-height: 30px !important; 
  margin: 0 !important;
  background: none !important;
}

#gform_2 {
  padding-left: 339px;
  position: relative;
  font-size: 14px;
  line-height: 20px;

  &:before {
    position: absolute;
    left: 306px;
    top: 0;
    bottom: 0;
    content: '';
    width: 2px;
    background: #dce2ea;
  }


  #field_2_1,
  #field_2_3,
  #field_2_11,
  #field_2_12,
  #field_2_14,
  #field_2_20 {
    width: 100% !important;
  }

  #field_2_13 {
    display: none;
  }

  #field_2_1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  #field_2_11,
  #field_2_14 {
    margin-bottom: 15px;
  }

  #field_2_31,
  #field_2_30 {
    width: calc(25% - 36px);

    @media (max-width: 1199px) {
      width: 50%;
    }
  }

  #field_2_1 {
    margin-bottom: 55px;

    p {
      margin: 0;
    }
  }

  #field_2_3 {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: #012760;
    font-weight: 700;
  }

  #field_2_14,
  #field_2_17,
  #field_2_15,
  #field_2_18,
  #field_2_19,
  #field_2_20,
  #field_2_21,
  #field_2_22,
  #field_2_23,
  #field_2_24,
  #field_2_25 {
    position: absolute;
    left: -36px;
    top: 0;
  }

  #field_2_14 {
    top: 0;
  }

  #field_2_15 {
    top: 80px;
    width: 150px;
    left: 160px;
    margin: 0;
  }

  .product-image {
    background: #f5f6ff;
    height: 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  #field_2_17 {
    top: 55px;
    width: 150px;
  }

  #field_2_18 {
    top: 188px;
    width: 150px;
  }

  #field_2_19 {
    top: 208px;
    width: 150px;
    left: 160px;
    margin: 0;
  }

  #field_2_20 {
    top: 335px;
  }

  #field_2_21 {
    top: 380px;
    width: 150px;
  }

  #field_2_22 {
    top: 406px;
    width: 150px;
    left: 160px;
    margin: 0;
  }

  #field_2_23 {
    top: 552px;

    .ginput_product_price {
      color: $blue;
      
      &:before {
        display: none;
      }
    }
  }
  #field_2_25 {
    top: 500px;
    display: none;

    .ginput_product_price {
      color: $blue;

      &:before {
        display: none;
      }
    }
  }
  #field_2_24 {
    top: 600px;

    .ginput_product_price {
      color: $blue;
      
      &:before {
        display: none;
      }
    }
  }
}

.ginput_container_singleproduct {
  position: relative;
  width: 128px;
}

.gform_fields .ginput_container_singleproduct input[type=text] {
  width: 45px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  text-align: center;
}

.gfield_price {
  position: relative;
}

.ginput_quantity_label {
  display: block;
}

.ginput_product_price_wrapper {
  position: absolute;
  left: 72px;
  top: 0;
  width: 128px;

  .ginput_product_price_label {
    display: none;
  }

  .ginput_product_price {
    line-height: 70px;
    position: relative;
    color: $blue;

    &:before {
      position: absolute;
      left: -15px;
      top: -26px;
      content: 'x';
    }
  }
}

.ginput_container_select {
  position: relative;
}

.ginput_container_select select::-ms-expand {display: none;}
.ginput_container_select select {
  display: inline-block;
  border: none;
  padding: 10px 3px 10px 20px !important;
  margin: 0 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  outline: none;
  background: #eaeff8 !important;
  appearance: none;
  border-radius: 8px !important;
  width: 100% !important;
  position: relative;
}
.ginput_container_select:before {
  font-family: 'icomoon' !important;
  position: absolute;
  right: 15px;
  top: 12px;
  content: "\e903";
  color: #012760;
  font-size: 16px;
  line-height: 1;
  pointer-events: none;
  z-index: 9;
}



::-webkit-input-placeholder {
  color: #012760;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #012760;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #012760;
  opacity: 1;
}

::placeholder {
  color: #012760;
  opacity: 1;
}

.gform_wrapper .gfield_validation_message, 
.gform_wrapper .validation_message {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}

#field_2_12 .validation_message {
  margin-left: 36px;
  margin-bottom: 18px;
}