// custom variables and override bootstrap variables
$gray: #656565;
$white: #fff;
$black: #000;
$gray2: #f6f6f6;
$gray3: #363636;
$base-min-width: 320px;
// This is the default html and body font-size for the base rem value.
$theme-colors: (
  primary: #f1764b,
  secondary: #f7941d,
);
$grid-breakpoints: (
  xs: 0, 
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1470px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
);


$blue: #012760;
$light-blue: #2c49dc;


$arial-font: 'Arial', 'Helvetica', sans-serif;
$roboto-font: 'Roboto', $arial-font;
$link-hover-decoration: none;
$font-family-base: $roboto-font;
$btn-transition: all 0.4s ease;
$headings-font-family: $roboto-font;
$headings-font-weight: 700;
$h1-font-size: 50px;
$h2-font-size: 30px;
$h3-font-size: 20px;
