/* stylelint-disable */
.footer {
	position: relative;
	padding: 117px 0 122px;
	background: #dee9f5;

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.logo-holder {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 0 30px;

		.title {
			display: block;
			font-size: 20px;
			margin-bottom: 20px;
			letter-spacing: 1px;
		}

		.link {
			padding: 0 0 35px;
			width: 100%;
		}
	}

	.logo {
		margin-bottom: 120px;
		width: 300px;
	}
}


.footer-content {
	width: 630px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-nav {
	font-size: 20px;
	line-height: 28px;
	padding: 7px 0 0;

	li {
		margin: 0 0 9px;
	}
}

.footer-info {
	max-width: 367px;
	padding-top: 45px;
	font-size: 20px;
	line-height: 34px;

	span {
		display: block;
		margin-bottom: 3px;
	}

	.email {
		a {
			font-weight: 700;
		}
	}
}