/* stylelint-disable */
.footer {
	position: relative;
	padding: 117px 0 122px;
	background: #dee9f5;

	@media (max-width: 1199px) {
		padding: 80px 0 40px;
	}

	@include media-breakpoint-down(md) {
		padding: 40px 0 130px;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	.logo-holder {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 0 30px;
		width: 350px;

		@include media-breakpoint-down(md) {
			width: 280px;
			margin: 0 auto 30px;
			padding: 0;
		}

		.app-btn-holder {
			@include media-breakpoint-down(md) {
				flex-wrap: nowrap;
				padding: 0;
				justify-content: center;
			}
		}

		.title {
			display: block;
			font-size: 20px;
			margin-bottom: 20px;
			letter-spacing: 1px;

			@include media-breakpoint-down(md) {
				margin-bottom: 10px;
				font-size: 16px;
			}
		}

		.link {
			padding: 0 0 35px;
			width: 100%;

			@include media-breakpoint-down(md) {
				text-align: center;
				padding: 0;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 20px;
			}
		}
	}

	.logo {
		margin-bottom: 120px;
		width: 300px;

		@include media-breakpoint-down(md) {
			width: 100%;
			margin-bottom: 0;
		}
	}
}


.footer-content {
	width: 630px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media (max-width: 1199px) {
		width: 550px;
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		text-align: center;
	}

}

.footer-nav {
	font-size: 20px;
	line-height: 28px;
	padding: 7px 0 0;

	@include media-breakpoint-down(md) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 16px;
		line-height: 24px;
		width: 100%;
	}

	@include media-breakpoint-down(sm) {
		font-size: 14px;
	}

	li {
		margin: 0 0 9px;

		@include media-breakpoint-down(md) {
			padding: 0 8px;
		}
	}
}

.footer-info {
	max-width: 367px;
	padding-top: 45px;
	font-size: 20px;
	line-height: 34px;

	@include media-breakpoint-down(md) {
		width: 100%;
		font-size: 16px;
		line-height: 24px;
		max-width: 100%;
		padding: 0;
	}

	@include media-breakpoint-down(sm) {
		font-size: 14px;
		padding: 0 20px;
	}

	span {
		display: block;
		margin-bottom: 3px;
	}

	.email {
		a {
			font-weight: 700;
		}
	}
}