/** @define nav-opener **/
/* stylelint-disable */
.menu-opener {
  @include size(26px, 26px);
  transition: all 0.4s ease;
  border-radius: 3px;
  background: none;
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 20;
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }

  .menu-active & {
    border-top: 0;
  }

  span {
    display: block;
    &:before {
      @include size(26px, 2px);
      background: $blue;
      transition: all 0.4s ease;
      content: '';
      position: absolute;
      left: 0;
      top: 7px;

      .menu-active & {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &:after,
  &:before {
    @include size(26px, 2px);
    background: $blue;
    transition: all 0.4s ease;
    content: '';
    position: absolute;
    left: 0;
    top: 13px;

    .menu-active & {
      transform: rotate(45deg);
    }
  }
  &:before {
    top: 19px;

    .menu-active & {
      transform: rotate(-45deg);
      top: 13px;
    }
  }
}

/** @define nav-drop **/
.nav-drop {

  @include media-breakpoint-down(md) {
    transition: all 0.4s ease;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    max-height: 0;
    opacity: 1;
    visibility: visible;
    z-index: 99;
    .menu-active & {
      max-height: 4000px;
    }
  }
}

/** @define nav-area **/
.nav-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media-breakpoint-down(md) {
   background: #fff;
   position: relative;
   transition: all 0.4s ease;
   transform: translateY(-100%);
   display: block;

   .menu-active & {
      transform: translateY(0);
    }
  }
}



.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  position: relative;
  z-index: 2;
  letter-spacing: 0.4px;

  @media (max-width: 1439px) {
    letter-spacing: 0;
  }

  @media (max-width: 1339px) {
    font-size: 16px;
  }

  @include media-breakpoint-down(md) {
    display: block;
  }

  li {
    padding: 0 15px;

    @media (max-width: 1439px) {
      padding: 0 7px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      border-bottom: 1px solid $blue;
    }
  }

  a {
    color: $blue;

    @include media-breakpoint-down(md) {
      display: block;
      padding: 15px 20px;
    }

    &:hover {
      color: #2c49dc;

      @include media-breakpoint-down(sm) {
        background: $blue;
        color: #fff;
      }
    }
  }
}

